*/Ex_hydrus/*

*.o

*.xml

*.iml

*.pyc

*.so

examples/notebooks/.ipynb_checkpoints/
gui/settings
build
dist
phydrus.egg-info

.idea/.name
.cache/v/cache/lastfailed
*.log

**/*.ipynb_checkpoints/

.vscode/*
source_code/
